/*特殊元素去边框*/
body{margin:0;background: url(../images/yingshi.png) no-repeat;background-size:cover;background-attachment:fixed;}
p{margin:0;}
ul{
	margin: 0;
	padding: 0;
}
/*header部分*/
header{width:1200px;height:100px;margin:0 auto;/*border:1px solid red;*/}
.logo{width: 80px;height: 100px;/*border:1px solid blue;*/margin-left: 30px;float: left;}
.theme{width: 300px;height: 80px;float: left;}
header p{float: left;margin: 20px 20px 0 20px;font-size: 28px;}
header span{margin-left:20px;font-size: 12px;}
.nav{overflow: hidden;}
header ul{margin:0;padding:0;float: right;}
header ul li{width:105px;list-style: none;float: left;text-align: center;transition: 0.2s}
header ul li a{text-decoration: none;color: black;margin:8px;line-height: 100px;transition: 0.2s}
.github{background: rgba(31,236,123,0.4);border-radius: 0 50px 0 50px;}
.github a{font-size: 20px;color: #fff;}
header li:hover{background: rgba(31,236,123,0.4);border-radius: 0 50px 0 50px;}
header li:hover a{font-size: 20px;color: #fff;}
/*內容*/
section{width: 1200px;margin: 0 auto;overflow: hidden;}
.container_l{width: 850px;float: left;margin-top: 10px;}
.title{width: 100%;height:50px;line-height:50px;overflow: :hidden;}
.title p:nth-of-type(1){float: left;}
.title p:nth-of-type(2){float: right;margin-right: 30px;}
.title p:nth-of-type(3){float: right;margin-right: 40px;}
.send{height: 35px;width: 100%;background: rgba(0,0,0,0.6);padding-top: 5px;text-align: center;}
.send button{cursor:pointer;height: 30px;line-height:30px;width: 70px;background: rgba(225,0,0,0.6);border-radius:5px;color: white;font-size: 16px;text-align: center;margin: 0 auto;}
/*右边栏目*/
.container_r{width: 340px;height: 400px;float: right;padding-left: 10px;}
.searchbox{width: 330px;margin: 10px;overflow: hidden;}
.searchbox input{width: 220px;height: 35px;font-size: 16px;float: left;outline: none;padding-left: 5px;}
.searchbox button{width: 70px;height: 40px;background: purple;float: left;color:#fff;outline: none;}
.list a{display: block;height: 40px;opacity: 0.3;text-decoration: none;font:16px/40px arial;color: #ccc;background: black;border-bottom: 1px dashed blue;padding-left: 10px;margin-left: 10px;width: 290px;}
.list a:hover{background: rgba(225,0,0,0.6)}
.list a:nth-of-type(3){background: rgba(225,0,0,0.6)}















